.reviews {
	padding: var(--section-padding);
	text-align: center;
	background-color: var(--white);
	margin: 0 auto;
	max-width: 100%;
	position: relative;
}

.reviews__title {
	margin-bottom: 40px;
	letter-spacing: 1px;
	color: var(--black);
}

.reviews__wrapper {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	gap: 10px;

}

/* OKNO WIDOKU (Viewport slidera) */
.reviews__container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 20px 0;
  
  /* Ukrycie paska przewijania */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* EFEKT PRZEZROCZYSTYCH ŚCIANEK */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 3%,
    black 97%,
    transparent
  );
}

.reviews__container::-webkit-scrollbar {
	display: none; /* Ukrycie paska przewijania Chrome/Safari */
}

/* KARTA OPINII */
.review-card {
	background-color: var(--black);
	min-width: 300px; /* Stała szerokość karty */
	height: 220px;
	border-radius: 25px;
	padding: 25px;
	scroll-snap-align: center; /* Karta centruje się w widoku */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* ELEMENTY WEWNĄTRZ KARTY */
.review-card__header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.review-card__avatar {
	width: 45px;
	height: 45px;
	background-color: var(--gray);
	border-radius: 50%;
}

.review-card__line {
	width: 80px;
	height: 6px;
	background-color: var(--gray);
	margin-bottom: 8px;
	border-radius: 3px;
}

.review-card__line--short {
	width: 50px;
}

.review-card__body {
	width: 100%;
	height: 100px;
	background-color: var(--gray);
	border-radius: 10px;
	margin-top: 15px;
}

/* NAWIGACJA */
.reviews__arrow {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: var(--black);
	padding: 10px;
	transition: color 0.3s;
}
