@font-face {
	font-family: 'SF Pro';
	src: url('./sf-pro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

:root {
	--black: #212121;
	--orange: #fe8a37;
	--white: #dddddd;
	--gray: #757575;
	--section-padding: 60px 0;
}

* {
	box-sizing: border-box;
}

body {
	padding-top: 85px;
	margin: 0;
	font-family: 'SF Pro', sans-serif;
	color: var(--white);
	background-color: var(--black);
}

h2 {
	margin: 0;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 800;
}
span {
	color: var(--orange);
}

p {
	margin: 0;
	line-height: 1.6;
	color: var(--gray);
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.3s;
}
li {
	list-style: none;
}
a:hover {
	color: var(--orange);
}
.header__title svg,
.footer__title svg,
.hero__title svg {
	color: var(--orange);
}
a.numberButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	background-color: var(--orange);
	color: var(--white);
	padding: 20px 80px;
	border-radius: 30px;
	font-weight: bold;
	margin-top: 20px;
	transition: transform 0.2s;

	padding: 15px 30px;
	font-size: 0.9rem;
	width: auto;
	max-width: 100%;
}
a.numberButton:hover {
	transform: scale(1.05);
}
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 25px;
}
.hero {
	background-color: var(--black);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px 100px;
}
.hero,
.about,
.servis {
	padding: var(--section-padding);
}

.header,
.hero,
.servis {
	text-align: center;
}

.hero,
.servis {
	background-color: var(--black);
	color: var(--white);
}

.feature-item {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.feature-icon {
	width: 80px;
	height: 80px;
	flex-shrink: 0;
}

/* RESPONSYWNOŚĆ */
@media (max-width: 768px) {
	.hero,
	.about__container {
		grid-template-columns: 1fr;
		display: flex;
		flex-direction: column;
	}

	.reviews__container {
		gap: 15px;
		padding: 20px 10px;
	}

	.review-card {
		min-width: calc(55vw - 40px);
	}
}
@media (max-width: 560px) {
	h1,
	h2 {
		font-size: 1.2rem;
	}
	h3 {
		font-size: 1rem;
	}
	.header__kontakt {
		display: none;
	}
	.reviews__container {
		gap: 5px;
		padding: 20px 10px;
	}

	.review-card {
		min-width: calc(80vw - 20px);
		height: 200px;
		padding: 20px;
	}
	.reviews__arrow {
		display: none;
	}
	a.numberButton {
		padding: 20px 40px;
		font-size: 1rem;
	}
	.servis__btn-open {
		padding: 20px 20px;
	}
}
@media (max-width: 320px) {
	.review-card {
		min-width: calc(80vw - 20px);
		height: 200px;
		padding: 20px;
	}
	.review-card {
		min-width: 300px;
	}
}
